<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="fondo-principal">
            <div class="unir-logo-buscador">
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="">
                <div class="buscador">
                    <input type="text" placeholder="buscar productos, marcas"><span class="boton-buscador">
                        <i class="fa fa-search"></i> </span>
                    <p class="tarjeta-grande"><i class="fa fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de
                        credito</p>
                </div>
            </div>
            <p class="tarjeta-mobile">compra en cuotas y sin tarjeta de credito</p>
            <nav id="hamnav">
                <label for="hamburger">&#9776;</label>
                <input type="checkbox" id="hamburger" />

                <div id="hamitens">
                    <a href="login">INGRESÁ</a>
                    <a href="register">REGISTRATE</a>
                    <a href="#">Ofertas</a>
                    <a href="#">Tiendas Oficiales</a>
                    <a href="#">Vender</a>
                    <a href="#">Ayuda</a>
                    <a href="#">Crear Tu Cuenta</a>
                    <a href="#">Ingresa</a>
                </div>
            </nav>


            <nav class="solo-compu">

                <ul class="al-fondo2">
                    <li class="separar"> <a href="#">Ofertas</a> </li>

                    <li class="separar"> <a href="#">Tiendas Oficiales</a> </li>

                    <li class="separar"> <a href="#">Vender</a> </li>

                    <li class="separar"> <a href="#">Ayuda</a> </li>

                </ul>

                <ul class="al-fondo">

                    <li class="separar"> <a href="register">Crear Tu Cuenta<i class="fa fa-users"></i></a></li>

                    <li class="separar"><a href="login"></i>Ingresa<i class="fa fa-right-to-bracket"></i></a> </li>

                    <li class="separar"> <a href="#"></i>Mis Compras<i class="fa fa-cart-shopping"></i></a> </li>
                </ul>

            </nav>
        </div>
    </header>

    <img src="images/img-home-banner.jpg" class="home-banner" alt="">

    <main class="centrar-main">
        <section class="ubicar-25">
            <h2 class="ubicar-ultima-visita">BASADO EN TU ULTIMA VISITA</h2>
            <div class="separacion-articulos">
                <article>

                    <img src="images/img-cafetera-moulinex.jpg" alt="">
                    <span> <i class="fa fa-truck"></i> </span>
                    <div class="flexible">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </article>

                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="">
                    <span> <i class="fa fa-truck"></i> </span>
                    <div class="flexible">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                    <span> <i class="fa fa-truck"></i> </span>
                    <div class="flexible">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10%OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </article>

                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="">
                    <span> <i class="fa fa-truck"></i> </span>
                    <div class="flexible">
                        <p class="precios">$23.000</p>
                        <p class="descuentos">5%OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </article>
            </div>

        </section>
        <h2 class="centrar-ofertas">OFERTAS</h2>
        <section class="ubicar-25">
            <div class="separacion-articulos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="">
                    <span> <i class="fa fa-truck"></i> </span>
                    <div class="flexible">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </article>

                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="">
                    <span> <i class="fa fa-truck"></i> </span>
                    <div class="flexible">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                    <span> <i class="fa fa-truck"></i> </span>
                    <div class="flexible">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10%OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </article>

                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="">
                    <span> <i class="fa fa-truck"></i> </span>
                    <div class="flexible">
                        <p class="precios">$23.000</p>
                        <p class="descuentos">5%OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </article>
            </div>
        </section>

    </main>

    <footer>

        <section class="pasar-a-flex">
            <div>

                
                <div class="tarjeta-o-efectivo">
                    <span class="cambio-color"> <i class="fa fa-credit-card"></i> </span>
                    <h4>Paga con tarjeta o efectivo</h4>
                    <p>Con MercadoLiebreCash tenes cuotas sin interes
                        con tarjetas o efectivo en punto de pago.Y
                        ¡siempre es seguro! </p>
                </div>

                
                <div class="envio">
                    <span class="cambio-color"> <i class="fa fa-gift"></i> </span>
                    <h4>Envio gratis desde $2500</h4>

                    <p>Solo por estar registrado en Mercado Liebre
                        tenes envios gratis en miles de productos.Es
                        un beneficio de Mercado Puntos.
                    </p>
                </div>

                <div class="seguridad">
                    <span class="cambio-color"> <i class="fa fa-user-shield"></i> </span>
                    <h4>Seguridad de principio a fin</h4>

                    <p>¿No te gusta? ¡devolvelo! EnMercadoLiebre
                        no hay nada que o puedas hacer 
                        porque estas siempre protegid@</p>

                </div>
                
            </div>

        </section>
        <p class="ubicar-final">Copyright &#169 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>

</html>